# Copy this file to `.env` and fill in your real values.
# Keep `.env` local. Do not commit it.

SUPABASE_URL=https://hajpyqtbwsavtqdamqbs.supabase.co
SUPABASE_ANON_KEY=sb_publishable_3OpFZPvBBbFzly9h17Tksg_HVUG1wrz
FIREBASE_ENABLED=false
GOOGLE_MAPS_API_KEY=AIzaSyArIFM6b-1L7Rv593M_f8P_a_63GbXNLok